<div class="container-fluid footer">
	<div class="row justify-content-center">
		<div class="col-md-4 text-center">
			<h3>Rapide et gratuit</h3>
			<p>Votre annonce diffusée en quelques clics</p>
		</div>
		<div class="col-md-4 text-center">
			<h3>Un geste pour la planète</h3>
			<p>Recyclage des matériaux "anti-gaspi" économies :</p>
		</div>
	</div>
</div>
